
@{
    ViewBag.Title = "SalesAreaSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-inline .form-group input {
        width: 150px;
    }
</style>

<h2>Sales Summary by Area</h2>

<div>
    @using (Html.BeginForm("SalesAreaSummary", "Statistics", FormMethod.Get))
    {
        <div class="form-inline">
            <label>From</label>
            <input type="date" class="form-control " name="fromdate"/>
            <label>To</label>
            <input type="date" class="form-control" name="todate" />
            <input type="submit" value="Submit" class="btn btn-info" />
        </div>

    }
</div>

<div class="panel panel-default row" style="margin-top:5%">

    <div class="panel-body">
        @{
            if (ViewBag.status == "OK")
            {
                @("No Data Found")
            }
            else{
                 @(Model)
            }
               
        }
        
    </div>
</div>

@section  Scripts
{
    <!-- Graphics libs-->
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
}