
@{
    ViewBag.Title = "Payment";
}

<h2>Payments</h2>

<hr />
<br/>

<a class="btn btn-primary btn-lg" href='@Url.Action("Send")' >Send Payment</a>

<a class="btn btn-success btn-lg" href='@Url.Action("Receive")'>Receive Payment</a>

