@model TransferAccountModel
@using GHM_ERP.Models;
@using GHM_ERP.Util;

@{
    ViewBag.Title = "New Asset Transfer";
}

<h2>@ViewBag.Title</h2>

<hr />

@Html.Partial("_TransferView")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

